.book-card {
    width: 100%;
    max-width: 280px;
    /* height: auto; */
    padding: 24px;
    background-color: white;
    border-radius: 16px;
    /* justify-content: center; */
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    border: 1px solid #e8e8e8;

}

.book-card img {
    width: 100%;
    max-width: 220px;
    height: 330px;    
    align-self: center;
    border-radius: 16px;
    box-shadow: 0 20px 40px rgba(150,140,190,0.32);
    transition: .5s;
}

.book-card img:hover {
    transform: scale(1.05);
}

.book-card .details {
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* margin-top: auto; */
}

.book-card .book-title {
    color: var(--font-primary);
    margin-top: 24px;
    flex: 1;
}

.book-card p {
    text-align: left;
    color: var(--font-secondary);
    font-size: 14px;
    margin-top: 12px;

}

.tags {
    display: flex;
    gap: 12px;
    overflow: hidden;
}

.add-btn {
    background-color: var(--primary-color);
    color: #ffffff;
}

.add-btn:hover {
    background-color: var(--blue-700);
}

.saved-btn {
    border: 1px solid var(--neutral-100);
    background-color: var(--neutral-0);
    color: var(--neutral-200);;
}